<%= form_with model: [@article, @article.comments.build] do |form| %>
<div class="grid grid-cols-4 gap-4" >
<p>
<%= form.label :commenter %><br>
</p>
 <p class="col-start-2 col-end-4 col-span-2">
<%= form.text_field :commenter, size: "30", class: "border-none" %>
</p>
<p class="col-start-1">
<%= form.label :body %>
</p>
 <p class="col-start-2 col-end-4 col-span-2" >
  <%= form.text_area :body, cols: "80", rows: "10", class: "border-none" %>
</p>
<p class="col-start-1">
<%= form.label :status %><br>
</p>
<p>
  <%= form.select :status, ['public', 'private', 'archived'], selected: 'public', class: "rounded"  %>
</p>
</div>
<p class="my-5">
  <%= form.submit class: "bg-blue-800 text-white p-3 rounded border-none" %>
</p>
<% end %>